{% extends 'base.html' %}
{% load static%}

{% block title %}Inicio - Cactours{% endblock %}

{%block nav%}
<link rel="icon" href="{% static 'images/Icono.ico' %}" type="image/x-icon">
<section class="showcase">
    <header>
        <div class="logo-container">
        <img src="{% static 'images\Icono.ico' %}" alt="Logo de Cactours" class="logo-image">   
        <h2 class="logo">Cactours</h2>
        </div>
        <h4 class="slogan">Tu presupuesto, Nuestra inspiración</h4>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'reservas' %}">Reservas</a></li>
                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li><a href="#footer">Contacto</a></li>
            </ul>
        </nav>
    </header>
{%endblock%}
    {% block content %}
    <video src="{% static 'images\video/video4.mp4' %}" muted loop autoplay></video>
    
    <div class="overlay"> </div>
    
    <div class="text">
        <h2>LA MEJOR AGENCIA DE<h2 class="guajira"> TURISMO EN LA GUAJIRA</h2></h2>
        <h4>Descubre experiencias inolvidables</h4>
        <p>Somos una agencia de viajes que ofrece los mejores servicios turísticos para superar tus expectativas y darte a conocer las maravillas de La Guajira.</p>
        <a href="{% url 'reservas' %}" class="cta-button">Disfruta ahora</a>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer id="footer">
    <div class="footer-content">
        <h3>Cactours</h3>
        <p>Tu presupuesto, nuestra inspiración. Disfruta de la Guajira como nunca antes.</p>
        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" alt="Twitter"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" alt="Instagram"></a></li>
        </ul>
        <p>&copy; 2024 Cactours. Todos los derechos reservados.</p>
    </div>
</footer>
{% endblock %}
