* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.logo-image{
    width: 60px;
    height: 60px;
}

header .logo {
    font-style: italic;
    font-size: 1.8em;
    color: #ffffff;
    cursor: pointer;
}

.slogan {
    font-style: italic;
    font-size: 1em;
    color: #ffffff;
    margin-top: 5px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    background: #fff;
    padding: 10px;
    border-radius: 30px;
    color: #069be0;
}

.showcase {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #111;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-video{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px; /* Ajusta la altura del degradado */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
    z-index: 1;
}

.text {
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;
    color: #ffffff;
}

.text h2 {
    font-size: 2.5em;
    font-weight: bold;
}

.guajira{
    font-style: italic;
    color: #026374;
    
}

.text h4 {
    font-size: 2em;
    margin-top: 35px;
}

.text p {
    font-style: italic;
    font-size: 1.1em;
    max-width: 600px;
    margin-bottom: 35px;
}

.text a {
    padding: 10px 30px;
    background-color: #069be0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.text a:hover {
    background-color: #056b7c;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 40px;
    text-align: center;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

footer .social a {
    color: #fff;
    font-size: 1.5em;
}

footer p {
    margin-top: 20px;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .showcase video {
        height: 50%;
    }

    header {
        padding: 20px 10px;
    }

    .text h2 {
        font-size: 2em;
    }

    .text h3 {
        font-size: 1.5em;
    }

    .text p {
        font-size: 1em;
    }
}


/*De aqui el diseño del login*/

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ffffff;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.cta-button {
    width: 100%;
    padding: 12px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #4682b4;
}

.links {
    margin-top: 15px;
}

.links a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

.error-message {
    color: #ff4d4d;
    margin-bottom: 10px;
}

 